body {
    background: rgb(0,45,114);
    background: -moz-linear-gradient(90deg, rgba(0,45,114,1) 0%, rgba(17,17,17,1) 50%, rgba(213,0,50,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,45,114,1) 0%, rgba(17,17,17,1) 50%, rgba(213,0,50,1) 100%);
    background: linear-gradient(90deg, rgba(0,45,114,1) 0%, rgba(17,17,17,1) 50%, rgba(213,0,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002d72",endColorstr="#d50032",GradientType=1);
}

nav.navbar {
    background-color: white !important;
}